@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: cursive;
  border: #444cf7;
}

.button, .button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  border-radius: 15px;
  height: 250px;
  width: 250px;
  background-color: rgb(255, 255, 230);
}

.button2 {
  background-color: antiquewhite;
  font-size: 2rem;
}

body {
  background-color: transparent !important;
}

html {
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  scroll-behavior: smooth;
}

.containerCSS {
  border-radius: 15px !important;
  background-color: rgb(255, 255, 255) !important;
  margin: 15px 15px !important;
  padding: 15px 15px !important;
}

a {
  text-decoration: none;
  color: rgb(161, 172, 179);
  list-style: none;
}

a:hover {
  color: rgb(78, 45, 224);
  font-size: 1.1em;
}

h1 {
  font-size: 3em;
  text-decoration: solid;
}

@media (min-width: 720px) {
  html {
    scroll-behavior: smooth;
  }
  .containerCSS {
    max-width: auto;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    margin: 15px 15px;
    padding: 15px 15px;
    position: relative;
  }
  .containerAnimacion {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .animacion {
    display: flex;
    position: absolute;
    animation-name: movimiento;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    top: 35px;
    left: -200px;
    z-index: 100;
  }
}
@media (min-width: 720px) {
  header header {
    position: relative;
    width: 100%;
  }
  header header .containerCSS {
    background-color: transparent;
  }
}
header img {
  height: 50px;
  width: 50px;
}
header .bote {
  inline-size: 100%;
  background-repeat: no-repeat;
  display: none;
  animation: movimientobote;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
header .esteto {
  inline-size: 100%;
  display: none;
  background-repeat: no-repeat;
  animation: movimientoesteto;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
header .fichero {
  inline-size: 100%;
  display: none;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  animation: movimientofichero;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
header .containerCSS {
  display: flex !important;
  flex-direction: column !important;
  border-top-left-radius: 20px 20px !important;
  border-top-right-radius: 20px 20px !important;
  margin: 15px 15px !important;
  background-color: rgba(255, 255, 255, 0.25) !important;
}
header .logo {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}
header .link {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  align-items: flex-end;
}
header .link a {
  color: black;
}
header nav a {
  padding: 5px;
}

@keyframes movimiento {
  0% {
    left: -200px;
    transform: scale(0.1);
  }
  50% {
    left: 400px;
    transform: scale(1);
  }
  100% {
    position: static;
  }
}
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: center center;
  background-position: center center;
  background-image: url("../media/hero.jpg");
  border-radius: 15px;
}
#hero .heroe {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  max-width: 545px;
  margin: 15px;
  padding: 15px;
}
#hero .containerCSS {
  border-radius: 15px;
  margin: 15px 15px;
}
#hero h1 {
  padding: 25px 25px;
}
#hero .button, #hero .button2 {
  font-size: 3rem;
  background-image: url("../media/puerta01.PNG");
  background-size: cover;
  border-radius: 50px;
  border: 15px 15px;
  height: 500px;
  width: 200px;
  margin: 100px 0px 100px 50px;
}
#hero .button:hover, #hero .button2:hover {
  background-size: cover;
  background-image: url("../media/puerta02.PNG");
}
@media (min-width: 720px) {
  #hero h1 {
    font-size: 6rem;
  }
  #hero .button, #hero .button2 {
    height: 500px;
    width: 200px;
    font-size: 3em;
    margin: 100px 200px 0px 200px;
  }
}

#medicos {
  margin: 0cm;
  text-align: center;
}
#medicos .containerCSS {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 15px;
  border-radius: 15px;
  background-size: cover;
}
#medicos .containerCSS h2 {
  font-size: 6rem;
}
#medicos .Cartas {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  background-position: center center;
  background-size: cover;
  background-image: url("../media/medical-4510408.png");
}

.carta-1, .carta-6, .carta-5, .carta-3, .carta-2 {
  background-color: rgb(255, 255, 230);
  border-radius: 20px;
  background-position: center center;
  min-width: 300px;
  max-width: 700px;
  font-size: 1.5rem;
}

.carta-2 {
  background-color: rgb(255, 230, 230);
}

.carta-3 {
  background-color: rgb(230, 230, 230);
}

.carta-4 {
  background-color: rgb(255, 255, 230);
  border-radius: 20px;
  background-position: center center;
  min-width: 300px;
  max-width: 700px;
  font-size: 1.5rem;
}

.carta-5 {
  background-color: rgb(255, 230, 230);
}

.carta-6 {
  background-color: rgb(230, 230, 230);
}

@media (min-width: 720px) {
  #medicos .Cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 15px;
  }
  .carta-1, .carta-2, .carta-3, .carta-5, .carta-6 {
    padding: 15px 15px;
    margin: 25px;
    max-width: 700px;
    font-size: 2em;
  }
  .carta-2 {
    padding: 15px 15px;
    margin: 25px;
    max-width: 700px;
    font-size: 2em;
  }
  .carta-3 {
    padding: 15px 15px;
    margin: 25px;
    max-width: 700px;
    font-size: 2em;
  }
  .carta-4 {
    padding: 15px 15px;
    margin: 25px;
    max-width: 700px;
    font-size: 2em;
  }
  .carta-5 {
    padding: 15px 15px;
    margin: 25px;
    max-width: 700px;
    font-size: 2em;
  }
  .carta-6 {
    padding: 15px 15px;
    margin: 25px;
    max-width: 700px;
    font-size: 2em;
  }
}
.login {
  background-color: rgb(255, 255, 230);
  margin: auto;
  width: auto;
  max-width: 600px;
  border-radius: 20px;
  padding: 4.5em 3em;
  box-shadow: 0 5px 10px -5px rgba(255, 255, 230, 0.3);
  text-align: center;
  display: grid;
  gap: 2.5em;
  margin-top: 3em;
}
.login h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.login p {
  font-weight: 300;
}
.login .formulario {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  margin-top: 3em;
}
.login .form_group {
  position: relative;
}
.login .form_label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.8s color 0.3s;
}
.login .form_input {
  width: 100%;
  background: none;
  font-size: 1em;
  padding: 0.5em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid;
}
.login .form_submit {
  background: rgb(255, 255, 255);
  color: blue;
  font-weight: 300;
  font-size: 1em;
  padding: 0.8em 0;
  border: none;
  border-radius: 20px;
}
.login .form_line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: blue;
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}

@media (min-width: 720px) {
  #log .containerCSS {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: " login  login   img  img" "login  login img  img";
  }
  .login {
    grid-area: login;
    margin-top: 0px;
  }
  #log .img {
    background-image: url(../media/medica_login.jpg);
    background-size: cover;
    background-position: center;
    grid-area: img;
    border-radius: 15px;
  }
  #Buscador > .containerCSS {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: " espe  boton1   nombre  boton2" "espe  boton1 nombre  boton2" "espe  boton1 nombre  boton2" "espe  boton1  nombre  boton2";
  }
  .busEsp {
    grid-area: espe;
  }
  .busNom {
    grid-area: nombre;
  }
  .btnBus {
    grid-area: boton1;
  }
  .btnBus2 {
    grid-area: boton2;
  }
}
.fondoCrea {
  border-radius: 20px;
}

.registrate {
  background-color: rgb(255, 255, 255);
  margin: auto;
  width: auto;
  max-width: 400px;
  border-radius: 20px;
  padding: 4.5em 3em;
  box-shadow: 0 5px 10px -5px rgba(255, 255, 230, 0.3);
  text-align: center;
  display: grid;
  gap: 2.5em;
  margin-top: 3em;
}
.registrate h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.registrate p {
  font-weight: 300;
}

.registrate {
  background-color: rgb(255, 255, 230);
  margin: auto;
  width: auto;
  max-width: 600px;
  border-radius: 20px;
  padding: 4.5em 3em;
  box-shadow: 0 5px 10px -5px rgba(255, 255, 230, 0.3);
  text-align: center;
  display: grid;
  gap: 2.5em;
  margin-top: 3em;
}
.registrate h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.registrate p {
  font-weight: 300;
}
.registrate .formulario {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  margin-top: 3em;
}
.registrate .form_group {
  position: relative;
}
.registrate .form_label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.8s color 0.3s;
}
.registrate .form_input {
  width: 100%;
  background: none;
  font-size: 1em;
  padding: 0.5em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid;
}
.registrate .form_submit {
  background: rgb(255, 255, 255);
  color: blue;
  font-weight: 300;
  font-size: 1em;
  padding: 0.8em 0;
  border: none;
  border-radius: 20px;
}
.registrate .form_line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: blue;
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}

@media (min-width: 720px) {
  #registrate .containerCSS {
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: " login  login   img  img" "login  login img  img";
  }
  .login {
    grid-area: login;
    margin-top: 0px;
  }
  #registrate .fondoCrea {
    background-image: url(../media/medico3.jfif);
    background-size: cover;
    background-position: center;
    grid-area: img;
    border-radius: 15px;
    width: 100vw;
  }
}
#mapa iframe {
  height: 250px;
  width: 290px;
}
#mapa .containerCSS {
  background-color: rgb(255, 255, 255);
  padding: 15px 15px !important;
  border-radius: 15px !important;
}
#mapa .containerCSS > .MapTuzona {
  width: 300px;
  height: 300px;
  padding: 0px;
}
#mapa p {
  margin-left: 0;
  margin-top: 40px;
  padding: 10px;
}
@media (min-width: 720px) {
  #mapa .containerTuzona {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "titulo titulo titulo titulo" "mapa mapa texto texto" "mapa mapa texto texto" "mapa mapa texto texto" "mapa mapa texto texto";
  }
  #mapa .containerTuzona .tituloTuzona {
    grid-area: titulo;
    padding: 10px;
  }
  #mapa .containerTuzona .MapTuzona {
    display: flex;
    grid-area: mapa;
  }
  #mapa .containerTuzona .textTuzona {
    grid-area: texto;
  }
  #mapa .MapTuzona > iframe {
    width: 800px;
    height: 500px;
    padding: 0px;
  }
}

footer .containerCSS {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: 1f;
  grid-template-areas: "contac donde conoce";
  padding: 15px;
}

footer .contac {
  display: flex;
  flex-direction: column;
  grid-area: contac;
  padding: 10px;
}
footer .donde {
  grid-area: donde;
  padding: 10px;
}
footer .conoce {
  grid-area: conoce;
  padding: 10px;
}
footer h4 {
  font-size: small;
  padding: 5px;
  padding-left: 5px;
}
footer h5 {
  font-size: small;
  padding: 5px;
  padding-left: 5px;
}
footer img {
  width: 30%;
}
footer .imagRedes {
  display: flex;
  flex-direction: row;
}

@media (min-width: 720px) {
  footer h4 {
    font-size: 2rem;
  }
  footer h5 {
    font-size: 1.5rem;
  }
  footer img {
    width: 15%;
  }
  footer .imagRedes {
    display: flex;
    flex-direction: row;
  }
}
#Buscador > .containerCSS {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: " espe  espe   " "boton1  boton1 " "nombre  nombre " "boton2  boton2  ";
}

.busEsp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: espe;
}

.busNom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: nombre;
}

.btnBus {
  display: flex;
  grid-area: boton1;
  margin-bottom: 20px;
  justify-content: center;
}

.btnBus2 {
  display: flex;
  grid-area: boton2;
  margin-bottom: 20px;
  justify-content: center;
}

ul {
  list-style: none;
  font-size: 0;
}

li {
  display: inline-block;
  width: 25%;
  position: relative;
  font-size: 14px;
  border: 1px solid;
  width: auto;
  height: auto;
}

ul ul {
  position: absolute;
  display: none;
}

ul ul li {
  display: block;
}

ul li:hover ul {
  display: block;
}

#Buscador button {
  margin-top: 100px;
  border-radius: 15px;
  height: 150px;
  width: 150px;
}

.animacion {
  display: none;
}

#Tuzona .imagen {
  background-image: url("../media/medicozona.jpg");
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: cover;
}

.zona {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: auto;
}

.containerCSS {
  border-radius: 15px;
  background-size: contain;
  display: flex;
  flex-direction: row;
  margin: 15px 15px;
  font-size: 1.5rem;
}
.containerCSS > .zona > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 230);
  border-radius: 5px 15px 5px 15px;
  height: 150px;
  width: 200px;
}

@media (min-width: 720px) {
  #Tuzona .zona {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
  }
  #Tuzona .containerCSS {
    background-color: rgb(255, 255, 255);
    padding: 100px;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=estilo.css.map */