.login {
    background-color:$Colorsecundrio;
    margin: auto ;
    width: auto;
    max-width: 600px;
    border-radius: 20px;
    padding: 4.5em 3em;
    box-shadow: 0 5px 10px -5px rgb(255, 255, 230 , 30%);
    text-align: center;
    display: grid;
    gap: 2.5em;
    margin-top: 3em;
    h2 
    {
        font-size:  2em;
        margin-bottom: 0.5em;
    }
    p {
        font-weight: 300;
    }
    .formulario {
        display: flex;
        flex-direction: column;
        gap: 2.5em;
        margin-top: 3em;
    }
    .form_group {
        position: relative;
        
    }
    .form_label {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 5px;
        transform: translateY(10px);
        transition: transform .8s color .3s;
    }
    .form_input {
        width: 100%;
        background: none;
        font-size: 1em;
        padding:0.5em .3em;
        border: none;
        outline: none;
        border-bottom: 1px solid;
    }
    
    .form_submit {
        background: $colorprincipal;
        color: blue;
        font-weight: 300;
        font-size: 1em;
        padding: 0.8em 0;
        border: none;
        border-radius: 20px;
    }
    .form_line {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: blue;
        transform: scale(0);
        transform: left bottom;
        transition: transform .4s;
    
    }
}
@media (min-width: 720px) {
    
    
    
    
    #log .containerCSS{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr ;
     grid-template-rows: 1fr 1fr;
     grid-template-areas:  " login  login   img  img"
                          "login  login img  img";
    }
    .login {
     grid-area: login;
     margin-top: 0px;
    }
    #log .img {
     background-image: url(../media/medica_login.jpg);
     background-size: cover;
     background-position: center;
     grid-area: img;
     border-radius: 15px;
    }
    #Buscador > .containerCSS {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr ;
     grid-template-rows: 1fr 1fr 1fr 1fr;
     grid-template-areas:  " espe  boton1   nombre  boton2"
                          "espe  boton1 nombre  boton2"
                          "espe  boton1 nombre  boton2"
                          "espe  boton1  nombre  boton2";
     
 }
 .busEsp {
     grid-area: espe;
    
 } 
 .busNom {
     
     grid-area: nombre;
 }
 .btnBus {
     
     grid-area: boton1;
 }
 .btnBus2 {
     
     grid-area: boton2;
 } 
} 