


.containerMedico {
    display: flex;
    flex-direction: column;
    .imgmed img {
        size-adjust: cover;
        max-height:500px;
    }
    .texmed {
        size-adjust: cover;
    }
    .button2 {
       margin: 100px 0px 100px 50px;
    }
}


@media (max-width: 800px) {
    .imgmed img {
        width: 300px;
    }
}


@media (min-width: 1200px) {
    .containerMedico {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "imag imag btn btn"
                              "imag imag btn btn"
                              "texto texto texto texto"
                              "texto texto texto texto";
        
    }
    .imgmed {
        grid-area: imag;
    }
    .imgmed > img {
        width: 600px;
        height: 600px;
    }
    .button2 {
        grid-area: btn;
        justify-content: center;
    }
    .texmed {
        grid-area: texto;
    }
    
}